[flake8]
exclude =
    .git,
    .pytest_cache,
    .ruff_cache,
    .venv,
    __pycache__,
    backend/.venv,
    build,
    coverage,
    dist,
    frontend/coverage,
    frontend/dist,
    frontend/node_modules,
    node_modules,
    venv
extend-ignore = E203,W503
max-complexity = 16
max-line-length = 120
