@import "tailwindcss";

@layer base {
	html,
	body,
	#root {
		min-height: 100%;
	}

	.gcds-breadcrumbs-item::before {
		margin: var(--gcds-breadcrumbs-item-arrow-margin);
	}

	.environment-name-label .gcds-label {
		font-weight: var(--gcds-font-weights-bold) !important;
	}

	.environment-name-label .label--required {
		font-weight: var(--gcds-font-weights-regular) !important;
		margin-left: var(--gcds-spacing-100) !important;
	}

	.endpoint-label .gcds-label {
		font-weight: var(--gcds-font-weights-bold) !important;
	}

	.endpoint-label .label--required {
		font-weight: var(--gcds-font-weights-regular) !important;
		margin-left: var(--gcds-spacing-100) !important;
	}

	.endpoint-url-row {
		--gcds-grid-gap-300: 0;
	}

	.endpoint-label-row {
		--gcds-grid-gap-300: var(--gcds-spacing-100);
	}

	.post-logout-url-row {
		--gcds-grid-gap: 0 !important;
		--gcds-grid-gap-300: 0 !important;
	}

	.connect-environment-actions {
		padding-top: var(--gcds-spacing-300) !important;
	}

	.environment-name-input {
		--gcds-input-margin: 0;
	}

	body {
		background: var(--gcds-bg-white);
		color: var(--gcds-text-primary);
	}

	a {
		text-underline-offset: 0.16em;
	}
}
