@import "tailwindcss";

@layer base {
	html,
	body,
	#root {
		min-height: 100%;
	}

	.gcds-breadcrumbs-item::before {
		margin: var(--gcds-breadcrumbs-item-arrow-margin);
	}

	.environment-name-label .gcds-label {
		font-weight: var(--gcds-font-weights-bold) !important;
	}

	.environment-name-input {
		--gcds-input-margin: 0;
	}

	body {
		background: var(--gcds-bg-white);
		color: var(--gcds-text-primary);
	}

	a {
		text-underline-offset: 0.16em;
	}
}
